<div class="container">
    <div class="row p-5">

        {{!-- Card --}}
        <div class="card mx-auto justify-content-center" style="width:500px">
            {{!-- Content --}}
            <div class="card-body">
                <h4 class="card-title">Title: {{lab.title}}</h4>
                <p class="card-text">Content: {{lab.content}}</p>
                <p class="card-text">Docs: {{lab.docs}}</p>
                <a href="/labs/list/{{page}}" class="btn btn-primary">Back</a>
            </div>
        </div>


    </div>
</div>